{% extends "base.html" %} {% block title %}Shelf List{% endblock %} {% block content
    %}
   
    <ul class="list-group list-group-flush" id="notes">
      {% for shelf in user.shelves %}
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" onClick="goToShelf({{ shelf.id }})">{{ shelf.name }}</button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
        <label for="Name">Name</label>
        <input
            type="Name"
            class="form-control"
            id="Name"
            id="Name"
            name=""
            placeholder="Enter title please! uwu"
        />
        <label for="Category">Creator</label>
        <input
            type="Category"
            class="form-control"
            id="Category"
            name="Category"
            placeholder="Enter name"
        />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}