{% extends "base.html" %} {% block title %}Test{% endblock %} {% block content
    %}
    <!-- <div class="container-fluid">
      <div class="container">
        <h1 class="display-3 text-center" style="margin: 3;">Welcome back to your <b style="color: #B83B3B">Bookshelf!</b></h1>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header" style="background-color: #bb5d06;">
              <h3 class="text-center" style="color: #dddddd"><b></b>Cassettes</b></h3>
            </div>
            <img class="card-img-top" src="/static/icons/icon_cassette_prerec.svg">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">You have <b>26</b> items on this shelf.</h6>
              <p class="card-text">When records aren't esoteric enough for you, but digital music is just way too convenient, there's the trusty audio cassette. Pop your favorite tape into your hi-fi deck, Walkman, or 1997 Honda Accord, and listen to some rockin' chromium-dioxide tunes.</p>
              <a href="#" class="btn btn-primary">Browse Shelf</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header" style="background-color: #ac1e49;">
              <h3 class="text-center" style="color: #dddddd"><b>LP Records</b></h3>
            </div>
            <img class="card-img-top" src="/static/icons/icon_lp.svg">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">You have <b>17</b> items on this shelf.</h6>
              <p class="card-text">The once-humble 12-inch long-play phonographic record has been risen from its grave. Beloved for its fully-analog signal path, beautiful album art, and vintage charm, this format is in the midst of a collector-driven revival. Just don't call them "vinyls."</p>
              <a href="#" class="btn btn-primary">Browse Shelf</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header" style="background-color: #326ab4;">
              <h3 class="text-center" style="color: #dddddd"><b>Blu-Ray Movies</b></h3>
            </div>
            <img class="card-img-top" src="/static/icons/icon_bluray_movie.svg">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">You have <b>58</b> items on this shelf.</h6>
              <p class="card-text">The history of home video media is full of format wars, victors and obsolescence. The last format war was won by the trusty Blu-Ray Disc, with its high storage density, namesake blue-violet laser diode, and 1080p HD resolution. Reliable, quality, scalable, Blu-Ray may be the last great home media format.</p>
              <a href="#" class="btn btn-primary">Browse Shelf</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- This is gonna be a sample of a shelf page. -->
    <div class="row">
      <div class="col">
        <h3 class="display-3 mt-5">Shelf: Blu-Ray Movies</h3>
        <p>The history of home video media is full of format wars, victors and obsolescence. The last format war was won by the trusty Blu-Ray Disc, with its high storage density, namesake blue-violet laser diode, and 1080p HD resolution. Reliable, quality, scalable, Blu-Ray may be the last great home media format.</p>
        <p>You've cataloged <b>8</b> items on this shelf.</p>
      </div>
      <div class="col-sm-4">
        <img src="/static/icons/icon_bluray_movie.svg" class="img-fluid">
      </div>
    </div>
    <table class="table table-sm table-flex table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Runtime</th>
          <th scope="col">Director</th>
          <th scope="col">Criterion?</th>
        </tr>
      </thead>
      <tbody>
       <tr>
          <th scope="row">1</th>
          <td><em>Apollo 13</em></td>
          <td>1995</td>
          <td>140 mins.</td>
          <td>Ron Howard</td>
          <td>no</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><em>Brazil</em></td>
          <td>1985</td>
          <td>142 mins.</td>
          <td>Terry Gilliam</td>
          <td>yes</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><em>Galaxy Quest</em></td>
          <td>1999</td>
          <td>102 mins.</td>
          <td>Dean Parisot</td>
          <td>no</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><em>Good Morning</em></td>
          <td>1959</td>
          <td>94 mins.</td>
          <td>Yasujirō Ozu</td>
          <td>yes</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><em>The Irishman</em></td>
          <td>2019</td>
          <td>209 mins.</td>
          <td>Martin Scorsese</td>
          <td>yes</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><em>Moon</em></td>
          <td>2009</td>
          <td>97 mins.</td>
          <td>Duncan Jones</td>
          <td>no</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td><em>Some Like It Hot</em></td>
          <td>1995</td>
          <td>121 mins.</td>
          <td>Billy Wilder</td>
          <td>no</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td><em>The Wind Rises</em></td>
          <td>2013</td>
          <td>127 mins.</td>
          <td>Hayao Miyazaki</td>
          <td>no</td>
        </tr>
      </tbody>
    </table>
{% endblock %}